antiorm==1.2.1
click==8.0.3
colorama==0.4.4
cycler==0.11.0
db==0.1.1
db-sqlite3==0.0.1
Flask==2.0.2
Flask-Session
gunicorn
fonttools
importlib-metadata
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mysql-connector-python
numpy
opencv-python-headless==4.5.3.56
packaging
pandas
Pillow
protobuf
pyparsing
python-dateutil
pytz
PyYAML
scipy
seaborn
six
https://download.pytorch.org/whl/cpu/torch-1.10.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.11.2%2Bcpu-cp36-cp36m-linux_x86_64.whl
tqdm
typing_extensions
Werkzeug
zipp
requests